[2017-11-17 17:01] scrubbless opened #1 "Translation Requests"
If anyone would be willing to translate any of my scenario, from English into any other language I would really appreciate it.

Drop the translated localisation file in an Issue - with the titles of the scenario's in the subject.

Thank you!

[2017-12-04 14:11] scrubbless commented on #1
French translation complete, issue pending to add.

[2017-12-04 16:23] scrubbless commented on #1
French Translation has been added.

[2018-01-06 13:40] StevenP94 commented on #1
Working on Italian translation...

[2018-01-11 21:30] scrubbless commented on #1
Thank you!

[2018-01-19 18:27] scrubbless opened #2 "Stress and Strain Version 2"
I have rewritten Stress and Strain in Valkyrie 1.6.1.
The story is the same, but there are a lot of ease of life and cosmetic changes, which help to speed the game pace up and reduce the amount players need to move.

Changes:

- I have refined the expansion requirements to just Recurring Nightmares (or 1st ed).
- Removed redundant tiles, ~half of the board and retuned how players can progress - gi

[2018-01-24 18:53] zaki850 opened #3 "Item in space indicated"
![image](https://user-images.githubusercontent.com/26735015/35351056-0b8f4112-0140-11e8-91c8-557021a4ad58.png)

"Place the lead pipe in the space indicated" - there is no space indicated (I understand it's the one where Thrall is, but still...)

[2018-01-24 18:54] zaki850 opened #4 "Spelling #1"
![image](https://user-images.githubusercontent.com/26735015/35351113-409d5286-0140-11e8-971a-50702cfd30e1.png)

"Staring right as you..." - should be "staring right at you..."

[2018-01-24 19:00] zaki850 opened #5 "Spelling #2"
![image](https://user-images.githubusercontent.com/26735015/35351165-6465f484-0140-11e8-8d29-e2e9fed418a0.png)

"I tried to protested." - should be "I tried to protest."

"I wish I had have done something..." - should be "I wish I had done something..."

"I reported what I knew to Sheriff Robin's" - should be "I reported what I knew to Sheriff Robins"

"Oh has it been that long." - should be "Oh,

[2018-01-24 19:01] zaki850 opened #6 "Spelling #3"
![image](https://user-images.githubusercontent.com/26735015/35351463-4308939a-0141-11e8-8f86-94bcb1832159.png)

"He is twitching you may be able..." should be "He is twitching but you may be able..."

[2018-01-24 19:03] zaki850 opened #7 "Test Issue"
![image](https://user-images.githubusercontent.com/26735015/35351520-69f14d62-0141-11e8-9190-61573421f5c2.png)

It says "Passed" instead of "Comtinue"

[2018-01-24 19:06] zaki850 opened #8 "Torches Issue"
Do not remember everything, but I think after lighting up the torches next to the bookshop, the action (search token) is still there for some reason even though they are already lit and there is no more darkness. Not sure if that was for purpose and lighting them again would trigger something else but it's worth checking.

[2018-01-24 19:12] zaki850 opened #9 "Observation Token issue"
![image](https://user-images.githubusercontent.com/26735015/35351806-5f650e32-0142-11e8-9b2a-28fd339cbd2c.png)

The observation token is only to the bottom of the tile and forces you to go that way and only after you discover the beach and the alley next to the bookshop, despite the fact that after discovering them you can move to those areas from the boat pier. I understand you did not want the i

[2018-01-25 09:43] scrubbless commented on #9
This was was tricky for me. The major easy to attain clue is on Berth 3, and missing it would cause a lot of walking. So I opted to path the player round there. If I could, I would have blocked access from the rental dock to the street. However you can't lay non tiles down and putting an explore token with dialog would have just look pants.

In version 2, I have removed the entire "East Alley" and

[2018-01-25 09:51] scrubbless commented on #8
I noticed this one during the version 2 re-write. I had forgotten to remove the component once completing the test.

There is now more incentive to light the torches now and the search token will not remove after taking a torch. Giving the player an option to take a torch, then light the rest.

Pass or fail the torches will be lit and the token is removed now. I assume you didn't fail the test whe

[2018-01-25 09:51] scrubbless commented on #7
This is also the case for some other tests, thanks for highlighting them. All fixed now.

[2018-01-25 09:51] #7 closed, assigned to nobody

[2018-01-25 09:52] scrubbless commented on #4
I have run this event about a thousand times and never noticed that! Thanks 🗡
All fixed.

[2018-01-25 09:52] #4 closed, assigned to scrubbless

[2018-01-25 10:08] scrubbless commented on #5
Thanks for this, I have corrected them.
I've also split the wall of text into small dialogues. So I can make Dr Chan weep at an appropriate time.

![image](https://user-images.githubusercontent.com/32058089/35382573-9a0f601c-01b7-11e8-8aa9-cdbe00c26293.png)
![image](https://user-images.githubusercontent.com/32058089/35382581-9eebecf4-01b7-11e8-8832-233d1eac63a8.png)
![image](https://user-images.gi

[2018-01-25 10:08] #5 closed, assigned to scrubbless

[2018-01-25 10:11] scrubbless commented on #6
Thanks for this one, I noticed that my intro to the body also ways "The body is not moving", then when you interact with the token the man is twitching!

I have corrected the spelling mistake and the continuity error.

[2018-01-25 10:11] #6 closed, assigned to scrubbless

[2018-01-25 10:13] scrubbless commented on #3
This is just how the editor looks different to the actual game.
In the editor it shows a highlight symbol, but in game it shows the monster Icon.
![image](https://user-images.githubusercontent.com/32058089/35382943-ab1b9668-01b8-11e8-8513-64ea3db7ab67.png)

I'll have a think about how best to do this. Maybe i'll place the lead pipe in an event, then spawn the monster separately.

[2018-01-25 10:14] scrubbless commented on #3
Out of curiosity, in your play through. Did you go right for the thrall or try to sneak around it?

[2018-01-25 10:14] zaki850 commented on #8
Actually, I did - fell down and started a fire, but still the torches were lit. :)

[2018-01-25 10:16] zaki850 commented on #3
I sneaked (knocking on the door) and then stood where the search icon is. Next round I interacted by throwing the lead pipe I found (ranged attack).  :)

[2018-01-25 10:20] scrubbless commented on #3
Adding an event is a pain in the backside, but I have realised that I didn't tell the player to remove the interact token anyway.

So I have come up with this:
![image](https://user-images.githubusercontent.com/32058089/35383132-4e49a276-01b9-11e8-8c48-b93b5bed5d9e.png)

[2018-01-25 10:22] zaki850 commented on #9
I liked the map layout and indeed it made the town feel more like a real town thanks to the streets. The distance wasn't a problem as well thanks to the shortcut after breaking the window in the cellar (we split - 1 investigator went to the Sheriff, the other to East street), but it's up to you. This one looks good as well.

[2018-01-25 10:22] #3 closed, assigned to nobody

[2018-01-25 10:25] scrubbless commented on #8
Yeh, the idea being you managed to light them before falling :D
Its such a minor perk and it made thematic sense.

I did notice that the fire was not removed after being placed, so I have corrected that too. The app can't track fire, so the tokens need to be removed.

[2018-01-25 10:28] scrubbless commented on #9
One of the comments from my play tests, was that there were a lot of "move 4 spaces" actions. Which feel a bit lacklustre in my experience. That is why I added the shortcut in the Holding Cell, originally there was only one in the warehouse.

Also the game felt very long, early game being very slow paced as you wandered the streets not doing much, then the end slamming you with a plot stick, room

[2018-01-25 10:53] scrubbless commented on #3
A friend of mine said.. "Why am I throwing a metal spike at a monster when I have a tommy gun?"

He has a fair point, but I just thought it sounded cool, haha.

[2018-01-25 10:59] zaki850 commented on #9
Yeah I had both - I think even 2 monsters from corpses plus the "helper"
event (the little girl in the shack - great idea by the way).  However, I
found the rifle with 5 attack at the beginning (character with 5 strength &
5 agility after using improvement)  + I had a character from Streets of
Arkham - the one that can cast a spell for free before her round and she
had the 5 attack spell, so the m

[2018-01-25 11:30] scrubbless commented on #9
My gaming group had a similar play test with the new investigators, they are OP.

The cure ending is not meant to be easy, I have intentionally paced it so that a party picking up all clues (without a single skill failure or missed attack) can get to the end just as the final boss spawns. The idea being, if people are held up, they should be expected to skip obvious "filler" tokens to get to the e

[2018-01-25 11:32] #8 closed, assigned to scrubbless

[2018-01-25 11:48] zaki850 commented on #3
Yeah, thought the same thing - was standing there with a rifle and was
throwing a pipe at a monster. ;)

On Thu, Jan 25, 2018 at 11:53 AM, scrubbless <notifications@github.com>
wrote:

[2018-01-26 08:13] scrubbless commented on #9
found the rifle with 5 attack at the beginning

That was intentional. You get the carbine rifle, shotgun or tommy gun from that cabinet.

The wrack spell was pure luck. First few times I played, i didn't realise that spell was a melee spell, can imagine its annoying to have with the SoA spell caster character.

[2018-01-26 09:33] #9 closed, assigned to scrubbless

[2018-01-31 08:14] scrubbless commented on #2
I am adding more variation, to help with multiple plays and tuning it nearer to 3 star difficulty.

[2018-02-01 20:43] scrubbless commented on #2
Added additional content for 6 players and added 3 'variations' on evidence order, to help keep repeat plays varied.

[2018-02-14 09:30] Indoy commented on #2
Hi !
when downloading v2, scenario isn't in french anymore :(
As i posted earlier, if you need some help to translate some news lines i'm on =)
Regards

[2018-02-14 09:31] Indoy commented on #2
oops i'm still in v1.6.1, is there a link with this fact?

[2018-02-14 14:07] scrubbless commented on #2
Hi Indoy.

1.6.1 is the correct version, I managed to make the content I created in 1.7.0b backwards compatible to 1.6.1.

I removed the French Localisation file, because I made significant changes to the events and dialog.
I would love it if you would like the update your french version so that I can re-add it?

The French localisation file is still in the Scenario's files, I just un-linked it fr

[2018-02-14 14:31] Indoy commented on #2
Yes you can send me the changes! Or is there any ways to spot what's needed to be translated ?

[2018-02-14 15:25] scrubbless commented on #2
Hi Indoy, no worries.

There are a lot of changes. I have copied the Version 1 (the one you translated) Localisation.English file. I then uploaded this as a file on GitHub. I then replaced the same file with the latest localisation file.

The version history shows the changes between the two versions.

It can be found here:
https://github.com/scrubbless/ScenariosInProgress/commit/aa48e52320dcc77c9

[2018-02-14 21:04] Indoy commented on #2
So, if i understand well, i'm supposed to translate (or only modify one or two words) what's appearing in green with a "+" in front of ?

[2018-02-14 21:47] scrubbless commented on #2
This it, the green changes are the new text I have added.

[2018-03-23 08:24] scrubbless commented on #2
Hi @indoy, do you need any more assistance from me with the translation?

[2018-03-23 12:17] Indoy commented on #2
Hi!
Sorry no much time, there is lot to do... but i keep it mind !
Don't worry i'll do it!
Regards

[2018-03-23 23:10] scrubbless commented on #2
Oh no rush Indoy, I've seen how many changes Nicola has you working on for "In the Dark"!

Just wanted to make sure the change tracking linked above was what you needed.

[2018-04-03 19:59] FASTNAVi opened #10 "Stress and Strain mistakes"
Hello! We just finished your scenario and spotted some mistakes..

1) When you place a darkness on square and storefront, you have bad names of tiles.. later they are correct when you discard darkness.

2) You have a lot of typos. I really feel pain every time I see a "face down"... it is one word. I don't want to say that my scenario will be without typos but you can improve your scenario. No off

[2018-04-04 17:22] scrubbless commented on #10
Thanks for the feed back (see what I did there!! Haha).

I welcome all feedback, I am quite thick skinned so won't take offence easily, especially if it's intended to be constructive.

Thanks for identify the typos, I need to fire up the official app and see what words they use for face down (facedown). My interpretation is face (the face of the card) down (down on the table) as two words, I don't

[2018-04-04 17:27] scrubbless commented on #10
Let me know how you found the second play, I've added a little variety, but there is a 1 in 4 chance you'll get the same one.

Also if you have a Board Game Geek account, I would really appreciate it if you would rate (and/review) my scenario (or any you have played), in this thread:
https://boardgamegeek.com/thread/1916430/fan-made-scenarios-reviews-valkyrie

[2018-04-04 18:38] scrubbless commented on #10
I stand corrected it is "facedown", just hit Google and checked the official app.

[2018-04-04 21:38] FASTNAVi commented on #10
Of course, I am on same ship like you ;-) I am maybe a little bit perfectionist so my completed scenario is still only in my PC and I am testing it over and over again but I will be also very grateful for any feedback after release..

For the insane cards.. you just need at least one bladed weapon, light source and evidence in every scenario (mean to included 3+ insane cards) =)

[2018-04-06 18:17] scrubbless commented on #10
Have you considered using GitHub to track changes and create backups/revisions?

Also let me know when you have published and I'll play and give feedback.

I am about 80% complete on my next scenario. Some cool bits in there so hopefully it will be better than my first.

[2018-04-06 21:57] FASTNAVi commented on #10
Yeah, I consider but so far I don't need it. My scenario is done and I am changing just small things.. From work I am use to make a backup often.

About my new scenario. I take a really big goal so I think, reallistic, I will be finish with it in 3 or 4 months.. But it will be long scenario with a really big variety.

Btw the truth is, I am working on campaign of three scenarios. Between scenarios

[2018-04-07 07:33] scrubbless commented on #10
That sounds awesome! How are you linking the acenarios?

3 independant scenarios with discriptions that say 1-3. Or are you using the descent model and having a campaign mode? I wanted to do something like that with a map and over arching story/equipment. But it's a bit ambitious I have more to learn!

[2018-04-07 21:37] FASTNAVi commented on #10
Well, I was thinking about this so much.. But I am afraid, it is almost impossible to go from one scenario to another with all items etc. You know, somebody is playing just one scenario per week/month and will be very difficult to remember all that stuff.. So my model will be like 3 standalone scenarios connected with the main story. First scenario will be in the dawn, second in the middle of the

[2018-04-07 21:50] scrubbless commented on #10
Sounds interesting.

I plan to learn how to create Quests in Valkyrie's Descent module at some point. It seems that you can link Quests (Scenarios) to each other. So the idea being you have a single scenario to trigger the campaign. This in Descent is a map, with locations that pop up (a UI element, with other UI elements dropped on top, which have clickable actions to trigger random events and st

[2018-04-11 22:49] mamantins opened #11 "Spoiler - About Boat Ending"
Hello,

I just run the scenario and I try to leave with the Boat.
This ending do not "finish" the game.
Maybe it's wanted, maybe not, but I was surprise to the possibility to "goes back".

i hope this help.
I have to run it again. :)
I failed finally.

Mam's

[2018-04-12 07:13] scrubbless commented on #11
Hi mam's,

The boat interact is intentional. It is meant to be a way to flee if things go very wrong. It won't spawn unless certain circumstances are met (have fuel + deadly mythos triggers)
The scenario is meant to be easy, but it can get very hard if corpses are not dealt with, so having an "escape" helps mitigate that risk.

The flavour text is meant to make you feel that you could have done be

[2018-04-12 07:24] scrubbless commented on #11
Other than that, did you enjoy the scenario? Is there anything you didn't like or think could be improved?

[2018-04-12 08:23] mamantins commented on #11
scrubbles,
I liked your scenario.
I play alone and I like the global feeling of it.
Seriously you did a great job. (Balance between fight and investigation is great)

I did not reach the good ending, Yet.
I will set fire to the « room » next time, but the trigger behind this scare me. ;)

On the other hand I was very please to see a « small » map with so many interaction.
I like it.  At least It’s

[2018-04-12 08:28] mamantins commented on #11
This last point...
I took some horror card because of bad luck to the dice roll...
So one of my character became crazy after 3 turn fighting and missing to hit the zombie. (and missing some easy throw in the horror test.)
Rolling dice for rolling the dice is not really interesting. (I really appreciate one of your event where everyone took 2 horror because of the global situation. :) )

[2018-04-12 11:21] scrubbless commented on #11
Just to respond to this, apologies I will get to the rest of this later (got a bunch of meetings today!)

I am not aware of a way to exit a scenario from an event. I will have to look into this. If it is possible I will do so. However the dialog test should have "The End" on it, which I like to think wraps up the narrative of the scenario :D.

If you want a little difference in your next play, try

[2018-04-12 13:56] scrubbless commented on #11
Note: More I play MoM less I like the system of the Horror Test each turn.
You reduce the dangerousity of the dice roll. I likes that. :)
I guess I will remove completly those dice roll from my own scenario to focus more on Myht event.

I like using negates, rather than pass/fail. Also giving -1 but less to negate feels better for gradual insanity to me. It bugs me that you best chance of competin

[2018-04-12 15:29] mamantins commented on #11
Just to respond to this, apologies I will get to the rest of this later (got a bunch of meetings today!)

I am not aware of a way to exit a scenario from an event. I will have to look into this. If it is possible I will do so. However the dialog test should have "The End" on it, which I like to think wraps up the narrative of the scenario :D.

If you want a little difference in your next play, try

[2018-04-12 16:36] scrubbless commented on #11
==> You can use the variable #BoardComponents in Remove items. (^_^)

I am sure I put that in, that and #monsters

[2018-04-12 16:39] scrubbless commented on #11
I am sure I did that, as well as the remove  monsters one. But it just leave you with a blank screen and you still have to main menu > exit.

[2018-04-12 17:09] scrubbless commented on #11
Ok to reply to the rest:

I will set fire to the « room » next time, but the trigger behind this scare me. ;)

Doo it! Some people just wanna see the world burn. Though there is another way to win without fire or running away!

I like it. At least It’s « portable ».
My scenario have currently a far bigger map… I should reduce it. Drastically

The first map was alot bigger, there was a street going

[2018-04-12 17:15] scrubbless commented on #10
I'll get these in version 4 along with another set or errors submitted by Mam's.

Thanks again! Good luck with your scenario (s), I look forward to playing it/them.

[2018-04-13 07:06] scrubbless commented on #2
Linking to #1 and closing

[2018-04-16 14:58] FASTNAVi commented on #10
Uploaded ;-)

[2018-04-16 17:08] scrubbless commented on #10
Awesome, I lent my copy of MoM to a friend so can't play it yet. But I will let you know on the bgg feedback thread (and issues to you GitHub) when I do!

On the Ashcan Pete issue, we discussed how to quit the scenario if players select certain heroes.

You could use a Test before your intro to check if #heroashcanpete = 1 then end the scenario if it triggers. That way players are unable to play t

[2018-04-17 10:49] scrubbless commented on #10
Ok thanks for your help FASTNAVi.

Fixed, this was from when the event used to trigger on the "North Street" in version 1.

I think I got every reference to "facedown" and "faceup" in there. Let me know if you find any more in v2.4.

I have added a bladed weapon (no hero limit), I had an event that was overly punishing, so i've compensated it with a bladed weapon! :D

I'll close this issue off. Th

[2018-04-17 10:49] #10 closed, assigned to scrubbless

[2018-04-17 10:53] scrubbless commented on #11
I was not even aware that adding an event called "EventEnd" would exit the scenario! I have a load of them in the next scenario I am writing to donate events that happen at "RoundEnd".

I better change that for backward compatibility too!

Regardless I have added a "The End" button to all endings, that will exit the scenario. Thanks for pointing this out!

Ahh I will look into this, that second zo

[2018-04-17 11:02] scrubbless commented on #11
They are all set with the base "MonsterZombie" so I am not sure whats going on. I will test some more and raise a bug on the Valkyrie github if I can't solve it.

Thanks for the feedback. I'm closing this issue off !

[2018-04-17 11:02] #11 closed, assigned to scrubbless

[2018-04-17 14:05] mamantins commented on #11
Thanks a lot for the feedback.

On my side I played your scénario twice after this first try.
I succeed to reach the good ending and another thrid one.

Still did not try with 6 investigators :)
Franckly, I like the feeling of this scenario.
GG

[2018-04-17 16:50] scrubbless commented on #11
How was the replayability? I tried to add some varying situations but it was hard to retro-fit (change after the first build).

My next scenario has alot of variable events and clue chains. So may be a little better than this one.

[2018-05-08 11:31] Indoy commented on #2
@scrubbless
Hi!

Work in progress for the v3.0. However line 494 you indicated a (missing link) for the fuel canister. Should I remove completely the former link {c:QItemQItemFuelCan} ?

Thx

[2018-05-08 15:41] scrubbless commented on #2
Hi Indoy, I'll take a look and get back to you. From memory I think I specifically called out the fuel canister and missing link to correlate the two. Players probably wouldn't have remembered that "Missing Link = Fuel Canister".

[2018-05-18 09:51] Indoy commented on #2
@scrubbless

Hi!
Lost my HDD... and the half of my former translation... However i'm waiting for extracting (hope so) some of my HDD contents.... But i suddenly realise that i might directly make translation on the file you've linked to me (scrubbless/ScenariosInProgress@aa48e52#diff-8b532f3af5b2aa5e109c918bb548d0de). If i click on a "+" under each lines i could write the tranlation? Sorry i'm not

[2018-05-18 14:29] scrubbless commented on #2
I believe you will need to branch from my master (may require a pull request) - and you will need GitHub to do so.

Once you have my code you can do your edits in your branch and when complete request to merge it into the master.

[2018-06-01 18:33] harrislalo opened #12 "No more Horror Tests after Shoggoth Horror Test"
Hello,

When Shoggoth enemy is in play, if you do a Horror Test against the Shoggoth, no more Horror Tests against other enemies are allowed, Mythos phase just end when clicking in Continue button. Therefore, investigators who need to resolve a Horror Test against other enemies in play should do it first.

Regards,

[2018-06-03 14:51] harrislalo opened #13 "Confusing text and image in Stress and Strain for the Blue vial"
Juast take a look to highlighted text and image:

![image](https://user-images.githubusercontent.com/39581698/40887807-660c1556-674e-11e8-976c-ba1fd9fe355c.png)

Thanks

[2018-06-10 07:09] scrubbless commented on #12
Oh, that's odd. Let me check that out. The shoggoth was added quite late as an alternative to the dunwich horror.

[2018-06-10 07:11] scrubbless commented on #13
Oh, that's not good. I need to fix that!

Originally there was only one clue chain and evidence. But after the initial release I decided to add 4 variations of the clue chain. Looks like I messup a UI elements here.

Hope it didn't ruin your game. :)

[2018-06-10 07:21] scrubbless commented on #13
Not sure if you use BGG, but if you do and have time, would you mind dropping a rating on the Valkyrie thread and a review if you fancy it. Will help spread awareness of Valkyrie.

https://boardgamegeek.com/thread/1916430/fan-made-scenarios-reviews-valkyrie

Thanks for your bug reports and for playing the scenario, I hope you enjoyed it, despite these bugs.

[2018-06-10 18:36] scrubbless commented on #13
Ok I have fixed this one, the UI element was correct and I must have forgotten to update the text.

Thanks again!

[2018-06-10 18:43] scrubbless commented on #12
Thats really weird, its as if the horror check ends the horror phase. I think this is a Valkyrie bug as there is nothing in the Horror tests to tell the mythos round to end.

I've raised a bug report for it here:
https://github.com/NPBruce/valkyrie/issues/841

Thanks for bring this to my attention, it will help refine the Valkyrie application as well as my own scenario!

[2018-06-11 06:47] harrislalo commented on #12
I realized that Mythos phase finished in the case of Horror tests against Shoggoth and Deep Ones but not against Zombies. This information could help for the bug in Valkyrie.

[2018-06-11 07:07] scrubbless commented on #12
Thanks @harrislalo, I'll take a better look at each monster. It looks like something to do with the way custom monster horror checks work. Specifically when you create your own horror activation for them.

I produced the same error with a riot custom monster, but I'll definitely do the same with some zombies and deep ones.

[2018-06-11 07:09] scrubbless commented on #13
Reopened, not sure if you read the other comments.

[2018-06-11 07:34] Indoy commented on #2
@scrubbless
Hello,
I had get my DD back... i'll go on translating =)

One question : i'm doing some research about the righteous state. What kind of state is it? From a new expansion? Or is it "Concentrated"? --Thx

picked up from : "EventBeachItemEvent7_SoA_Tile4.text,You swallow some of the pills, pausing for a moment you wait to see if they have any effect.\n\nYou feel a surge of self confidenc

[2018-06-12 07:31] scrubbless commented on #2
Righteous is a state from SoA, it allows you to convert a clue into a success automatically once per round. But you discard the condition when you take horror.

The word righteous is similar to 'empowered'  having noble or honourable goals.

I use variables to check if #SoA is selected as an expansion before I allow the event to run.

[2018-06-15 15:18] #13 closed, assigned to scrubbless

[2018-07-22 11:05] vidimus commented on #1
Hello.
I've just registered to thank you for your time and your dedication to create a scenario for MoM. Plus, I'd like to help with the Spanish translation, but I don't know how to do it. I mean, where is the file and what program do I need to open and edit the file? Thanks in advance.

[2018-07-22 11:10] scrubbless commented on #1
Hi @vidimus
Thanks for taking the time and effort to reach out and contact me!

You just need the Valkyrie editor to translate a scenario.
I've added a section in the Valkyrie guide for this, page 130.

https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_vF3ZoljjB6a8FjWGt8

Thanks for translating this!

[2018-08-05 19:02] FASTNAVi opened #14 "A Strain on Reality - mistakes and typos (beware spoilers)"
Hi @scrubbless ,

we just finnished your scenario. Thank you for your work! I will not write a feedback for BoardGameGeek now. I want to play it at least one more time before I will write it down. Anyway, you have 9/10 from us ;-)

We had 2 investigators, we won in 210 minutes.

1) We had 1 huge issue. After I used a UNDO button, the game was broken. The log was empty and I was unable to close it.

[2018-08-05 19:26] scrubbless commented on #14
Oh wow thank you for the feedback @FASTNAVi ! Detailed and concise! I'll work on routing them out. I hope the bugs didn't ruin it for you. I have been debugging this for months, but due to the sheer complexity it's hard to catch them all.

I hope you enjoy the second play through.

The undo button is that a serrate app? Can you let me know so I can try to simulate (or put a note not to use it :( )

[2018-08-05 19:37] FASTNAVi commented on #14
No, it was not ruining the game.. we won so tightly.. I was one damage away from death and my wife had the same with horrors by the way :) Both insane, both wounded :D

Yes, app was not working anymore. After that game I try it on my own scenario and there was UNDO working as normal. Try used UNDO in second or third round in your scenario and you will see..

And by the way, in my scenario under co

[2018-08-05 21:37] scrubbless commented on #14
I wonder if the 'undo' didn't work because I have allot of empty events. I use them to set variables and there is a lot of randomisation. What is the undo? Is it part of Valkyrie or a separate program?

Also can you remember where you picked up the green gem? Their are 9 locations that the gems can spawn in and they are completely randomised!

If you can tell me what you searched it will help me f

[2018-08-06 10:28] scrubbless commented on #14
I will have to test with the Undo application, however I was not aware it existed. I use a lot of loops and events with no dialogues to do calculations. So I suspect this will never work. My scenario is not coded in quite as sequentially as others. If you want to understand why, open it in the editor and run the events from the "START_GAME" event. You'll quickly see I use a lot of event loops :).

[2018-08-06 16:33] FASTNAVi commented on #14
ad2) We are sure, it was in library. Probably from talking with Richard?
ad5) No, I mean you are taking AWAY from board all the person tokens.. but instead of "tokens" you have there only "token"
ad9) Nope, I mean something else. One investigator enter an office and reveal it when Eric was away from lobby. Then second investigator try to enter too.. and you have possibility to click on "lobby" and

[2018-08-07 11:08] scrubbless commented on #14
It was in the Library, after picking up the book I think. I found it! It was really messing things up. Good catch, thank you! Fixed.

I am not sure if I corrected this after I published the scenario (but before I read your post), but it now states (so Fixed?):
![image](https://user-images.githubusercontent.com/32058089/43772053-d87242a6-9a38-11e8-880b-b512572a0764.png)
![image](https://user-images

[2018-08-07 16:19] FASTNAVi commented on #14
It is a reason why I want to wait before we will write a feedback on boardgamegeek.

ad1) just once.. yeah, it is nice how it works ;-)
ad2) we didn't a time to solve that at all
ad3) the same, we didn't a time to solve that (investigetor with Ritual components was too far from there)

[2018-08-07 17:06] scrubbless commented on #14
Did time run out before you got through the secret door? Ahh good to know. Will be interesting to see if I need to extend that phase for 2 investigators.

[2018-08-09 15:15] #14 closed, assigned to nobody

[2018-08-09 15:16] scrubbless commented on #12
I found that if you have an item with an inspection action. Doing so during the horror phase will also end the horror phase.

[2018-08-13 15:42] scrubbless commented on #14
I am quite sure that the Undo function does not work because the Save option in game also doesn't work. My gut is telling me there is a max file size or character limit that is corrupting the save file. Since the scenario is so massive.

I've opened an issue on the Valkyrie github.

[2018-09-16 20:24] FASTNAVi opened #15 "Question about editor"
Hi @scrubbless ,

I have a question. In your last scenario, you manage to make a scenario for basic game but allow to play with components from the expansions. How did you do that?

Because only solution, what I can do, is just make a lot of conditions and that is not very pretty. I prefer some elegant and simply solution.

Thank you very much in advance for your answer!

[2018-09-17 21:22] scrubbless commented on #15
There are built in variables. When you select an expansion is sets the variable: #expansion to 1.

E.g.

Streets of Arkham selected:

#SoA = 1

Create your event for Streets of Arkham and in the first event in the chain set the TEST

#SoA == 1

If streets of Arkham is in the content library it runs the event. If it's not, don't run the event.

So I tend to set an event where the path can split. In

[2018-09-18 16:15] FASTNAVi commented on #15
OK, so that solution I already know.

Thank you very much for your answer.

[2018-09-18 16:15] #15 closed, assigned to nobody

[2018-10-01 21:40] scrubbless commented on #2
Hey indoy I'll close this issue for now.

[2018-10-01 21:40] #2 closed, assigned to scrubbless

[2018-10-01 21:41] scrubbless commented on #1
I'll close this issue for now. Feel free to open a new one if you finish the translation

[2018-10-01 21:45] scrubbless commented on #12
Hi @harrislalo.

BenRQ fixed this in his Brunhilde beta. This is a branch of Valkyrie which we are hoping Bruce will merge into Valkyrie when he gets back to working on Valkyrie.

 https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.0%2Fv2.0.2b

It has a built in reviews system and fixes the save and auto save issues currently in 2.01.

[2018-10-01 21:45] #12 closed, assigned to scrubbless

[2018-11-15 12:23] zcaalock opened #16 "Polish translation to Stress and Strain"

[2018-11-15 12:24] zcaalock commented on #16
Here is the file.
[Localization.Polish.txt](https://github.com/scrubbless/PublishedScenarios/files/2585251/Localization.Polish.txt)

btw is the StrainOnReality continuation to Stress and Strain?

[2018-11-15 21:03] scrubbless commented on #16
Thank you! I'll update it tomorrow!

A Strain on Reality is a continuation of the story.

[2018-11-16 11:26] scrubbless commented on #16
Hi @zcaalock

I have updated some events to fix some bugs, can you translate the following passage and i'll update the event text.

AbanHouse_ApproachDuke_Passed_NoAshcan

The dogs bows its head and lets you stroke him. After a few moments you manage to get his tail wagging. Satisfied, you smile and stand up to leave. The dog obviously doesn't want to leave his owner, however he pads over to you a

[2018-11-16 11:38] zcaalock commented on #16
Pies pochyla głowę i pozwala ci się pogłaskać. Po kilku chwilach widzisz jak macha ogonem. Uśmiechasz się z satysfakcją i wstajesz aby odejść. Pies nie ma zamiaru zostawiać swojego właściciela, jednak podchodzi do ciebie i szarpie za ubranie, następnie patrzy się na ciebie wymownie pokazując szyję. Jego szyję oplata obroża z dziwnie wyglądającym wisiorkiem. Właściciel musiał bardzo kochać swojego

[2018-11-16 11:58] scrubbless commented on #16
Awesome, all done. You should see an available update in the download list.

Thanks very much for doing this translation!

[2018-11-16 11:58] #16 closed, assigned to nobody

[2018-11-16 16:22] zcaalock commented on #16
i found some mistakes in new version. Take a look here
https://docs.google.com/spreadsheets/d/1W1bI8754fTw_uxXdTYZLyBMs_60ZJ0jttK3FpNHPK_I/edit?usp=sharing

It is marked with red. Go to sheet: "combine" in column C.
As you can see, some of the lines starts with /n
I can remove them and compile english and polish version and send you.

[2018-12-27 23:24] chrismaliszewski commented on #14
Found minor mistakes:
TokenT1_PatientZadocNotMet.text: Should be 'The patient reading a newspaper seems calm and collected'; comma missing after 'Occasionally'
EventT8_EnterUpstairs_FromLobby.text: at the end, instead of 'an action' should be 'any action' to be correct, I think.
EventT1_ZadocPositive_Friends_NoInfo.text: lack of italics in the event when Zadok speaks.

Other than that, there are m

[2018-12-28 01:02] chrismaliszewski opened #17 "Polish translation to A Strain on Reality"
Hi, @scrubbless.

zcaalock asked me for checking Polish translation of A Strain on Reality with him. I found a mistake in his file in the event EventT1_ZADOC_Enemies_DrL.text. Could you please send the original English text for the event.

Thanks.

[2018-12-28 09:41] chrismaliszewski commented on #17
Nevermind, found it.

[2018-12-28 09:42] #17 closed, assigned to nobody

[2019-02-10 17:26] fenexomega commented on #1
Working on a Brazilian Portuguese Translation.

[2019-02-10 17:27] scrubbless commented on #1
Awesome thank you, let me know if you need any help

[2019-03-18 09:47] BenRQ opened #18 "French translation - Stress and Strain"
Here is the final version of the French translation after some test.

A few points to update in the scenario itself, to adapt to French translation:
1) Can you please deactivate the audio voiceover at the beginning when in French?
It's very difficult to read in French when someone is speaking in english at the same time.

2) Can you please increase the size of the start button?
You should read "Co

[2019-03-20 10:06] scrubbless commented on #18
Is there functionality to detect when a scenario is played in french?

If not i'll create a blank audio file for the dialogue and put it in the "French" folder in the scenario.
I'll increase the size of the box to make the start button fit.

[2019-03-20 10:18] scrubbless commented on #18
Ok all done, I added a different music audio file (from A Strain on Reality's custom music list) with the intros name into two folders "French" and "Polish", so music will play instead of the spoken english intro.

[2019-03-20 10:29] BenRQ commented on #18
How long is your audio file ?
If it is one second, then the standard background music should start after your file.

[2019-03-20 10:37] scrubbless commented on #18
It was one second, It'll be fine with the other music. I am actually considering having a look for an appropriate royalty free music for that intro anyway.

Its live, so please feel free to test and communicate on your french facebook group :)

[2019-03-20 10:42] scrubbless commented on #18
If you are interested in translating the UI elements, I would happily create updated language specific ones for them.

If you would prefer to update them yourself they should all be in this repo, I use GIMP so the .xcf files are all in there (under XCF Templates):

https://github.com/scrubbless/Scenario-Media

[2019-03-20 10:51] BenRQ commented on #18
OK nice, I will give you the translated text to integrate in the picture, it would probably easier.

[2019-03-20 10:55] BenRQ commented on #18
By the way, you can probably remove the investigator.png and mythos.png files :)

[2019-03-20 11:10] BenRQ commented on #18
![Blackboard.png](https://user-images.githubusercontent.com/40794717/54679370-67cf3d80-4b07-11e9-8abb-2e5e61a7fa25.png)

For all blackboard pictures (only the numbers should be changed):
[code]

![drchannote](https://user-images.githubusercontent.com/40794717/54679569-e2985880-4b07-11e9-928b-2419387772dd.png)
[code]
![Inventory](https://user-images.githubusercontent.com/40794717/54679692-3c008780-

[2019-03-20 11:33] BenRQ commented on #18
![Journal](https://user-images.githubusercontent.com/40794717/54680387-fcd33600-4b09-11e9-8628-d1af3473effd.png)

[code]

![JournalInventory](https://user-images.githubusercontent.com/40794717/54680772-027d4b80-4b0b-11e9-8423-047f0fdac63f.PNG)

[code]

![paperdeadman](https://user-images.githubusercontent.com/40794717/54681143-eded8300-4b0b-11e9-9e0c-31e59b6d7e58.png)

[code]

![sign](https://user

[2019-03-20 11:34] BenRQ commented on #18
Ok they should all be here :)

[2019-03-20 11:51] scrubbless commented on #18
Amazing thanks @BenRQ

I'll take a look, some of these I merged the text blur and smudge, but i'll work it out and get you those variations.

EDIT: Turns out I only started filing the the XCF files with A strain on reality. May have to edit the PNG's themselves :D

[2019-03-20 12:34] scrubbless commented on #18
Don't suppose you speak polish too do you? Haha

[2019-03-20 12:37] scrubbless commented on #18
@zcaalock would you be able to translate the text on the above images?

I'll update the images for the polish translation if you can.

[2019-03-20 13:00] BenRQ commented on #18
I know only one word in Polish : "Culva !"
Don't try to translate it :)

[2019-03-20 14:02] scrubbless commented on #18
All done, I am just uploading the update now.

![image](https://user-images.githubusercontent.com/32058089/54690175-bdf8ac80-4b18-11e9-9217-7d011802337d.png)

[2019-03-20 14:04] scrubbless commented on #18
Let me know if it looks ok :) I did run it through and mechanically its sound (I don't understand much french but I know every bloody event in that scenario of by heart).

[2019-03-20 14:37] BenRQ commented on #18
All the pictures are good :)

But damn... in the ONE picture you take as an example, I see a problem in the text.
The name of the company is not translated, it should be "La Compagnie du Centaure" and not "The Centaur Company".

Here is the fix:
[Localization.French.txt](https://github.com/scrubbless/PublishedScenarios/files/2988692/Localization.French.txt)

[2019-03-20 16:32] scrubbless commented on #18
Haha I'll get that fixed

[2019-03-21 08:27] zcaalock commented on #18
i`ll do the translation in the evening today

[2019-03-21 08:51] scrubbless commented on #18
No rush @zcaalock just when you have time.

[2019-03-21 10:06] BenRQ opened #19 "French translation - Strain on reality"
Just to let you know, the French Facebook group is starting a community translation of Strain on Reality.
Let's see how it goes :)

[2019-03-21 19:47] zcaalock commented on #18
1. use stabiliser..
Użyj stabilizatora #9252 jako ostatni element kombinacji.

2. dr Chan..
Dr Chan wyjaśniła, że zielonej cieczy używa się jako komponent do serum. To jest własnie Stabilizator, Źle zmieszany zmienia się szybko w gaz.

3. The centaur company
Firma Centaur
Zamówienie #00043

4.
15 fiolek:
#2734 - pomarańczowy płyn, część pierwsza z X52
Środek neutralizujący
Różne narzędzia

5.
~ Do

[2019-03-21 21:06] scrubbless commented on #18
Amazing thanks @zcaalock

[2019-03-21 23:47] scrubbless commented on #18
Thank you @zcaalock, all UI elements have been updated with your translations.
@BenRQ  for some reason your file did not work, so I fixed the Centaur Company bit above manually.

v3.5.3 is out, now have translated UI elements for Polish and French!
![image](https://user-images.githubusercontent.com/32058089/54791906-c5f93f00-4c33-11e9-90f0-a6ef426915d4.png)

[2019-03-21 23:48] #18 closed, assigned to nobody

[2019-03-21 23:53] scrubbless commented on #19
That will be interesting, but I think its going to be the only way to get it done! So... much... text!

The spreadsheets you make, I can't quite get my head around how to make them. If you have time could you generate me a few to work on?

I'd like to translate the following:

https://github.com/Samurai83ITA/Scenari-Valkyrie
UnaTristeVerità0
UnaTristeVerità1
UnaTristeVerità2
UnaTristeVerità3

I ha

[2019-03-22 19:33] BenRQ commented on #19
French translation is started.

I also shared a spreadsheet regarding "The sad truth" Italian scenario.

[2019-03-26 08:55] scrubbless commented on #19
Thanks @Benrq, I've already started on ot.

Can you share the script/steps to generate the spreadsheet and convert it back? I'd like to add it to the editor tutorial so more can use the technique.

[2019-03-26 16:14] BenRQ commented on #19
Here are the steps :

**Creating the google sheet :**
1) install Notepad++ and open the Localization file.
2) Press CTRL+ H, select regular expression and type the following
Search :
`,(.*)`
Replace :
`\t$1`
Then click "replace ALL"
3) Open a new google sheet file, and copy paste text in first cell.

**Extracting the data:**
1) Select all content in the google sheet, and copy paste in a new text f

[2019-03-27 08:14] scrubbless commented on #19
Thanks @BenRQ I'll write this up with screenshots and add it to the guide.

Appreciate it!

[2019-03-29 22:36] scrubbless commented on #19
Ok I've written this up and tested it, I used it to proof read both The Kidnapping and Believe or die.

I plan to use it to Ni proof read my own scenarios Haha.

[2019-06-19 12:39] NicolaZee opened #20 "Suggested improvements for Stress and Strain"
Hello James

I have two small improvements for Stress and Stain.

1. Use the new Fuel card instead of the Missing Link if HJ is enabled.

2. Use the Maniac instead of Deep Ones.

Thanks
Nicola

[2019-07-07 22:11] scrubbless commented on #20
I actually tried to patch this recently, however its not quite as easy to do. Without Variable text to say "fuel" or "Missing Link" I would have to duplicate all the events that involve the item with the alternate text. I can't think of an elegant solution for it as of yet.

At the time, I wanted a variety with the monsters - all humanoids (mostly zombies) was a bit boring for me, so I wanted to a

[2019-07-08 12:04] NicolaZee commented on #20
**QItems**
For QItemQItemFuelCan

Firstly I'd rename it QItemFuelCan for Missing Link.
Then I'd add QItemFuelCanHJ for HJ Fuel Can

**Events**
Add two new events
EventHoldingCellOpenMetalCab_Tile21FuelCan
EventHoldingCellOpenMetalCab_Tile21FuelCanHJ

Convert EventHoldingCellOpenMetalCab_Tile21 to call up these two events and add display=false

**Tokens**
Add two new events called from TokenBoatEsc

[2019-07-08 15:47] scrubbless commented on #20
Yeh I'll be able to do it, just not had time (or motivation) to sit down and do it!

Thanks for the info!

[2019-09-05 14:10] scrubbless commented on #20
I've swapped out the Deep One out for the Maniac, in the campaign version of the scenario, I much prefer it so thank you. I'm going to pull this over to the official release.

I've already patched the official scenario with the HJ Fuel if the expansion is present.

[2019-09-05 14:10] #20 closed, assigned to nobody

[2019-11-09 18:34] marcelofalcao commented on #1
I would like to help with the translation since it started in Feb. Do you already have something that I can use to start with or can I start from scratch?

[2019-11-09 18:52] scrubbless commented on #1
Hi @marcelofalcao  I dont have a Brazilian translation or start of one.

I dont know if @fenexomega has one?

I can help by creating an excel file if that would be easier?

[2019-11-09 21:07] marcelofalcao commented on #1
I would appreciate if you can do this. Them I send you the translated file.

[2019-11-09 21:08] marcelofalcao commented on #1
Afterwards I can try to help with the audio if possible.

[2019-11-10 00:22] marcelofalcao commented on #1
I found out how to find the files to translate.
I started the translation of "A Strain on Reality" to Portuguese. 47% translated.

[2019-11-10 21:12] marcelofalcao commented on #1
Wow! You made a huge story! 57% translated and counting... A LOT OF TEXT!!! :-)

[2019-11-10 21:17] scrubbless commented on #1
Yeh it's insane, 75,000 words. Took 8 months to write! There is a lot of variation in the events, so if you use a token you may find there are 2 or 3 different things that can randomly happen.  Also the lost in time and space worlds have their own story and there are about 15 i think.

There is a lot of text in the images, i can provide that separately. I have the original GIMP files so I can copy

[2019-11-10 21:38] scrubbless commented on #1
Would you like me to post the images or are you OK to post the translations from the images in the scenario file?

Example:
![image](https://user-images.githubusercontent.com/32058089/68551216-79e94d80-0402-11ea-88b9-38981ae8df3c.png)

[2019-11-11 21:15] marcelofalcao commented on #1
I don`t know how to do it but if you teach me I can. I was thinking exactly abou that? how would I have the texts translated in the images.

[2019-11-11 21:18] marcelofalcao commented on #1
I think that this information should be somewhere in the description of the mission. 8 months of writing (not counting the time to configure everything) is really huge work

[2019-11-11 21:18] scrubbless commented on #1
Just post the images or their names here and then the translated text. I'll then copy and paste the text into the  image templates. I can then add then to a translation folder and they'll show instead.

[2019-11-11 21:18] marcelofalcao commented on #1
By the way... 57% translated.

[2019-11-11 21:19] scrubbless commented on #1
For example.

Note1.png

The translated text of this notepad in the chosen language

Note2.png

The translated text for this next images contents.

[2019-11-11 21:22] scrubbless commented on #1
It's in the credits section :) I wrote it mainly to let people know that there is some variation and alternate endings.

[2019-11-11 21:24] marcelofalcao commented on #1
Like this?

evammi.png
Ammi parece ser um homem problemático. Ele não confia muito nas pessoas e não é muito agradável conversar ele...

O ordenado arrastou Ammi para o Consultório Médico e eu não o vi desde então. Eu tenho um sentimento estranho sobre isso.

[2019-11-11 21:25] marcelofalcao commented on #1
If okI can send you text file containing the texts for all images.

[2019-11-11 21:26] scrubbless commented on #1
Perfect! Just a message of that when you're ready.  I created gimp templates with layers for translations. I tend to reuse assets like this, a bit in scenarios and wanted to plan for translations once the functionality to add translated images was added.

[2019-11-11 21:27] marcelofalcao commented on #1
Great. I will focus on the images when I finish with the translation. I still have to translate 2136 lines of text :-D

[2019-11-11 21:34] scrubbless commented on #1
Haha not a problem. Appreciate  your work on this.

[2019-11-11 22:18] marcelofalcao commented on #1
I have a doubt regardint this line of text: Press about bruiser more

I am not finding a proper translation... what do you mean with this phrase?

[2019-11-11 22:20] scrubbless commented on #1
It's a comment field I think.

It's a personal note to remind me what the event was for. This one was to remind me that the orderly (i gave him a code name of bruiser for some reason haha) could be spoken with some more.

[2019-11-15 15:25] marcelofalcao commented on #1
Hello. Providing some feedback about the pt-BR translation: 65% translated. Pending 1710 lines.
What does it mean? A lot of work! :-D

[2019-11-15 15:26] marcelofalcao commented on #1
Question: Is the orderly female or male? When you say orderly you mean a nurse or an attendant in the asylum?

[2020-05-07 15:42] Theseventensplit opened #21 "Issues with 16x10 phones, weird scenario issue."
Hi, great mystery so far, but we had to restart. For two reasons:
1: my phone is a new Samsung s10e. It has an extra wide screen, and this seems to mess with valkyrie. When we open the journal the exit button is not visible. There is no way to continue and the game had to be closed.
2: we encountered issues where, when visitor time started, it had us remove our players from the board and place the

[2020-05-10 02:30] wolanskip opened #22 "[Stress and Strain v3.6] - Search Token does not remove"
**Bug Experienced**
Search Token with the box containing pills does not remove after interacting with the option to consume the pills.

Interacted with the token, took the pills. (uncertain if it prompted to remove the token.)
Interacted with the token a second time, searched the box. (uncertain if it prompted to remove the token.)
Interacted with the token a third time, took the pills. The text s

[2020-05-10 04:17] wolanskip opened #23 "[Stress and Strain v3.6] - Missing Link Evidence used when Horrific Journeys present"
**Improvement Requested**
The scenario gave the Missing Link evidence item despite Horrific Journeys expansion being available. Horrific Journeys provides a Fuel Unique Item card - this card could have been used to represent the Fuel needed in the level.

**Suggestion**
Add expansion detection and give the players the Fuel card if it is present in their collection instead of the Missing Link. Upda

[2020-06-09 07:50] scrubbless commented on #23
Hi @wolanskip

Sorry I took so long to respond to this. I've not been checking my repo issues!

That is a great idea, thanks for bringing it up. I have made this change in the campaign (which includes A Stress and Strain). I am not sure if I've reproduced those changes to the live scenario, but I will.

Thanks again

[2020-06-09 07:50] #23 closed, assigned to nobody

[2020-06-20 16:38] kobbe opened #24 "[Escape v2.2] - Periodic table bug"
We solved (all 3 rounds of) the periodic table puzzle and the game told us to remove the explore token but in the game the explore token was not removed and nothing happened, no new room was added. We could only progress by forcing the door with strength.

Unfortunately I don't have any picture.

Our feedback is id 5448 and the Variables are (in case you need them): ```#SoA=1;#SoT=1;#round=14;$%mo

[2020-06-20 16:47] kobbe opened #25 "[Escape v2.2] - Basement and connecting tiles not shown in app or incorrect mythos events"
When we played we were missing some tiles in the app or some mythos events was incorrect. There were a mythos event that affected everyone the the basement tiles, but we had no such tiles. There was also an instance where we were told to remove the basement tile.

I have attached two images, one of the map and one of the mythos event.

![basement](https://user-images.githubusercontent.com/4288653/

[2020-06-20 17:00] kobbe opened #26 "[Escape v2.2] - Spelling misstakes and minor bugs and improvements"
![search token1](https://user-images.githubusercontent.com/4288653/85207109-e62c1800-b326-11ea-8fd1-2ba46c83f221.jpg)
"Remove the search token" is incorrect. It was a door, i.e an explore token.

![Spelling1](https://user-images.githubusercontent.com/4288653/85207150-3014fe00-b327-11ea-8bbd-d0202ddf281e.jpg)
The text currently says "You lean over the draw and inside you see a bowler hat.". "draw"

[2020-06-21 21:41] Juancu opened #27 "Scenario Feedback"
Hi! I used your scenario as inspiration for a CoC game, and it went very well. Thanks!
Here is a video with related content and a shoutout @ 14:40 in, I think you'll find it cool:
https://www.youtube.com/watch?v=UiJk2NCC9a8

[2020-07-05 18:24] jabo2099 opened #28 "Strain on Reality Other World bug"
Hi.  Meant to report this a couple weeks back when I finished this scenario.  (Which was great BTW.  My fav out if all fan ones I've played.  Really curious to try again for different outcomes.)

So small issue, but when playing with the core and first two expansions (Suppressed Memories and Reoccurring Nightmares), had an issue where text I was getting was related to an otherworld encounter I had

[2020-09-02 07:47] scrubbless commented on #28
I'm very sorry I didn't see this earlier!

I'll take a look at the furnace room, I suspect I have an event that runs when a player is in another world, however I must have forgotten to flag off that specific furnace event. Thanks for bringing it to my attention!

The save may be due to the scenario size, as I use a lot of custom images that I suspect Bruce (Valkyrie author) didn't count for haha.

[2020-09-02 07:49] scrubbless commented on #27
Sorry for the late reply, I've not checked GitHub for a while!

I am glad that it inspired you! I'll take a look at the video a little later

[2020-09-02 07:52] scrubbless commented on #21
Thanks for your feedback and sorry for my late reply!

Which scenario were you playing? Valkyrie has two types of scaling "horizontal and vertical" with the default being horizontal.
I didn't realize this scaling issue until after I finished a strain on reality, and it's now too much work to fix (every age would need realignment). I have an s9+ and noticed the same issue.
I will try to move the bu

[2020-09-02 07:55] scrubbless commented on #22
Sorry for the late response!

The pills are intended to be use multiple times, it does ask to remove after a few interactions. With 6 player support I needed to give players more to do and this was one way to do so. You should have had a different result each interaction.

[2020-09-02 07:58] scrubbless commented on #24
Oh that's disappointing, you got a rare variation of rooms with that one. In sorry you encountered a bug!

I will take a look at the puzzle mechanics, do you remember what item was delivered when you completed it? (There are 4 variations with different rewards), knowing that should help me work out what happened.

I am glad you made it through the door regardless.

I hope you enjoyed the scenario!

[2020-09-02 07:59] scrubbless commented on #25
Thank you for the report, I must have missed a variable flag checking if the basement was in play. The screenshots are helpful.

[2020-09-02 12:29] scrubbless commented on #26
Wow thank you for the very detailed and helpful feedback!

I'll dig through these and resolve them.

The intention of the ability stat was to limit the number of attempts per action. I'll take a look and clear up any confusion in the instructions.

[2020-09-02 12:41] scrubbless commented on #27
That is amazing! I really like what you've done with the map and the extra visual aspects like the fountain, etc!

Did you play a CoC using the map? I'd b interested to hear what you did that differed from my Story line, I am making variations for the Campaign, so I'd be interested in to hear what you added.

[2020-11-08 09:03] scrubbless opened #29 "Strain on Reality - Journal won't close on widescreen"
The scaling for the exit button is horizonal, therefore the close button for the journal is off the top of th screen on wide screen devices (mostly phones)

[2020-12-13 20:38] delborgoem commented on #1
Hi scrubbless! :) I could start working on an Italian translation if needed. I read about StevenP94 but I don't see any Italian translation in the app. Let me know :D I'd really like to!

[2020-12-14 18:25] StevenP94 commented on #1
Hello @delborgoem, I translated the app, to be honest I don't remember the status of scenario translation because I made a lot of other stuff in the meantime. Please contact me so I can search what I really do on this task and if I found something I can send 'it to you.

[2020-12-14 18:59] scrubbless commented on #1
Thanks guys, I am more than happy to accept translations.
I have all of the original images in .xcf files (in gimp) so I can translate the images of you tell me the picture name (e.g. signpost.png) and then the granted text.

I can generate new images with your pasted translated text for the translation.

[2020-12-14 19:04] scrubbless commented on #1
Sorry I missed this update  @marcelofalcao, the orderly is a man. Big and stocky. He is an attendant - imagine the big men that a doctor would call in to pull a crazed asylum patient away and administer a seditive :D

![Screenshot_20201214-190601_Chrome](https://user-images.githubusercontent.com/32058089/102123907-7a42ec00-3e3f-11eb-839b-f72a557fd75c.jpg)

[2021-03-10 10:31] scrubbless commented on #29
I've fixed this bug in the most recent patch

[2021-03-10 10:31] #29 closed, assigned to scrubbless

[2021-03-10 10:33] scrubbless commented on #21
I've fixed this in the most recent patch to the exit button will clip a little ok ultra wide devices, however I've positioned the button so it shouldnt imoact content on the oage

[2021-03-10 10:33] #21 closed, assigned to scrubbless

[2022-01-08 23:09] vidimus opened #30 "Spanish translation - A strain on reality"
Here is the file with the translation:
[Localization.Spanish.txt](https://github.com/scrubbless/PublishedScenarios/files/7834177/Localization.Spanish.txt)

Also it's here:
https://github.com/vidimus/Valkyrie-Mom-scenarios-translations/tree/master/Una%20deformaci%C3%B3n%20de%20la%20realidad

[2022-01-08 23:11] vidimus commented on #30
Text for the images (Spanish version):

[Ingame text on pictures - Spanish version.xlsx](https://github.com/scrubbless/PublishedScenarios/files/7834162/Ingame.text.on.pictures.-.Spanish.version.xlsx)

[2022-01-08 23:19] vidimus commented on #30
Audio files are pending. I will post them here in a few days

[2022-01-12 23:16] vidimus commented on #30
Audios:

https://github.com/vidimus/Valkyrie-Mom-scenarios-translations/tree/master/Una%20deformaci%C3%B3n%20de%20la%20realidad/Narracion_una_deformacion_de_la_realidad

[2022-01-12 23:18] vidimus commented on #30
Hello, @scrubbless
All the needed files are ready (voiceover, ingame text and translation).

[2022-01-13 09:54] scrubbless commented on #30
Thanks @vidimus

I'll try to start on this today 👍

[2022-01-13 17:19] scrubbless commented on #30
Who would you like me to credit for the text translation and the audio?

The voice actor is amazing btw, no idea what shes saying but its very professional !

EDIT:

I also have to apologise, some of the end dialogues I wrote but didn't end up using. It got a bit complicated to place out the dialogues for nuanced endings (like ammi being saved, or killed). So there are about 5 readings there that

[2022-01-13 18:25] scrubbless commented on #30
Ok just a heads up on my progress:

I have integrated all of the audios, this meant also changing some of the exit music to your files (and then creating just filler music files for English and the other languages).

I have also imported the Spanish text file and linked it, looks good to me on a quick test.

I now have the long and arduous task of generating the image translations :grin: i'll get

[2022-01-13 18:38] vidimus commented on #30
Great news. Credits for the voiceover:

Ingrid Carreras and Edko (¿A Qué Se Juega?)

[2022-01-14 11:36] scrubbless commented on #30
Thanks @vidimus

There seems to be a missing translation, do you have this on hand?

![image](https://user-images.githubusercontent.com/32058089/149509252-82b1af1c-2a5f-4e80-8740-3861ca947c18.png)

The english is this one:
![pageburnt](https://user-images.githubusercontent.com/32058089/149509409-7b833c67-cc73-4016-9781-d8ac1bf78290.png)

[2022-01-14 11:37] scrubbless commented on #30
No need to translate the "project clarify" image, I have that translation (as the image is used 3 times and you've translated one of the others)

I just need the bits of smudged black text

[2022-01-14 14:07] scrubbless commented on #30
I've been using your repo as a workspace for the translations, I hope thats ok. I've added the .XCF files and started to export the files out, once complete i'll copy all this information to the scenario (and my repos for dev) and publish the new scenario.

I just thought you might be interested in the background stuff that goes into the images I use.

[2022-01-15 18:52] vidimus commented on #30
Here's the translation:

**Left column:**

He conseguido rescatar algunos papeles que había en la chimenea de la oficina de la doctora Little.

Este borrador desechado de una carta quizá pueda probar los planes de la Dra. Little.

No sólo deja claro que ha estado experimentando con sus pacientes sino que además menciona a una misteriosa tercera parte implicada que estaría financiando el proyecto.

[2022-01-15 18:53] vidimus commented on #30
No problem. I have seen some mistakes, like an image with Polish text instead of Spanish.

Edit: OK, it was the pageburnt picture. This is why I didn't translated it.

[2022-01-15 19:03] vidimus commented on #30
In this one, "Rowley Asylum" is not translated. It should be "Manicomio de Rowley".

![image](https://user-images.githubusercontent.com/41538948/149634591-8b15edcb-5298-41ce-9ae2-3f1bdb9b821f.png)

[2022-01-17 16:53] scrubbless commented on #30
![secrettip](https://user-images.githubusercontent.com/32058089/149809919-d46e40ec-bc7e-4c8a-a05d-501ffa30e711.png)

Here is the secrettip.png that was not translated.

[2022-01-17 16:57] scrubbless commented on #30
Here is the burnt page, no need to do the page i've updated that bit.
![image](https://user-images.githubusercontent.com/32058089/149810530-db90dc21-c3aa-41b5-a4c0-2e4f32e40be3.png)

[2022-01-17 17:09] scrubbless commented on #30
Done

[2022-01-17 17:09] scrubbless commented on #30
Done

[2022-01-17 17:10] vidimus commented on #30
Información.

Haz clic sobre la pantalla en el lugar en el que pienses que está el interruptor oculto.

Se te pedirá que confirmes tu elección.

Si fallas, el rompecabezas se cerrará y tendrás que usar una nueva acción para volver a intentarlo.

Haz clic para salir...

[2022-04-22 23:08] #30 closed, assigned to nobody

[2022-07-09 08:14] CPapadim opened #31 "Unable to close General Notes in journal [Android - Widescreen phone]"
Using Android 10 phone.  It looks like I'm not able to close General Notes in the journal.  Unlike the Strange Items section that has a 'Back' button, I don't see a 'Back' button for General notes.  I can even re-open teh journal and hit Exit but the General notes still stay overlaid on the screen.

This is in widescreen resolution on my phone.

It's also on version 2.3 of the scenario which oddly

[2022-10-07 10:30] scrubbless commented on #31
Hi @CPapadim thanks for your post, I didn't realise you'd posted this!

I thought I had fixed the widescreen issue, I'll take a look at general notes. By default I now scale vertically to avoid this problem (scaling horizontally pushes stuff off the top of widescreen devices.

2.3 sounds right to me, I may have updated the version number in some places and missed others. It is also possible I got

[2022-10-30 14:15] kkoripl commented on #31
[Valkyrie android app, scenario with Rowley Asylum v2.2 - Strain on Reality (?) I think, played in different language]

I'd add to that - we have same problem with notes still seen on the screen, but this one was about Eric . We have closed the diary, but note about Eric was still on the screen on the left side, blocking any kind of interaction with tokens on the tiles. We have removed the note by

[2022-10-30 16:19] scrubbless commented on #31
Thanks for the feedback @CPapadim , it's a shame you ran into this bug, I'll take a look at the specifics and see if I can fix that issue and release a new version.